<%- include('./partials/header.ejs') %> 

<div class="container">
    <h1 class="text-center">Edit Comment</h1>
<form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=PUT" method="post" class="w-50 mx-auto">
    <div class="form-group">
        
        <input type="text" name='comment[text]' class="form-control" id="exampleInputEmail1" value="<%= comment.text %>" placeholder="text" aria-describedby="emailHelp">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>