<%- include('./partials/header.ejs') %> 
<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4 ">Welcome to Yelp Camp</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <a class="btn btn-primary btn-large" href="/campgrounds/new" role="button">add campground</a>
    </div>
    <div class="row">
        <% campgrounds.forEach(each=>{%> 
        <div class="col-md-6 col-lg-4">
            
                <div class="card mb-3">
                    <img src="/images/house.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="/campgrounds/<%= each.id %> " class="h4"><%= each.name %> </a>
                      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
                <% }) %> 
       
    </div>
</div>

